<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dunwugudao.crawler.persistence.mapper.NorthboundFlowMapper">

    <!-- 北向/南向资金分钟级数据（kamt.rtmin），对齐 NorthboundFlow 实体：direction/time_point/net_inflow 等 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO northbound_flow
        (
        trade_date,
        data_source,
        direction,
        time_point,
        net_inflow,
        buy_amount,
        sell_amount,
        cumulative_net_inflow,
        status_flag,
        src_detail,
        create_date,
        update_date
        )
        VALUES
        <foreach collection="list" item="r" separator=",">
            (
             #{r.tradeDate},
             #{r.dataSource},
             #{r.direction},
             #{r.timePoint},
             #{r.netInflow},
             #{r.buyAmount},
             #{r.sellAmount},
             #{r.cumulativeNetInflow},
             #{r.statusFlag},
             #{r.srcDetail},
             #{r.createDate},
             #{r.updateDate}
            )
        </foreach>
    </insert>

</mapper>
